:root {
  --body-color: #3a3b3c;
  --gradient-1: #ff8a00;
  --gradient-2: #da1b60;
  --color-1: #ffffff;
  --color-2: #e0e0e0;
}

body {
  overflow: hidden;
  background-color: var(--body-color);
}

main {
  width: 100%;
  margin-top: 24vh;
  height: 50vh;
  background: linear-gradient(45deg, var(--gradient-1), var(--gradient-2));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 15vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--color-1);
  margin-bottom: 1rem;
  z-index: 9;
  line-height: 26vh;
}

p {
  text-align: center;
  width: 45%;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--color-2);
  z-index: 9;
}
